<div class="container center">
  <h2 mat-dialog-subtitle> Are you sure, that you want to delete this category?</h2>

  <div mat-dialog-content class="content center">
    <mat-divider></mat-divider>
    <p mat-dialog-subtitle>Category ID: <b class="alignRight">{{categoryTypeId}}</b></p>
    <mat-divider></mat-divider>
    <p mat-dialog-subtitle>Category Name: <b>{{categoryModel.name}}</b></p>
    <mat-divider></mat-divider>
  </div>

  <div class="center">
    <button mat-button [mat-dialog-close]>No</button>
    <button mat-button [mat-dialog-close] (click)="onYesClick()" class="button">Yes</button>
  </div>
</div>