 .example-full-width {
  width: 100%;
  }

 .button {
  background: #1e567e;
  margin-top:12%
  }
  
  .invalid-feedback{
  color: red;
  font-size: 75%;
  }
  
  .center{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container{
    width: 35vw
  }
  
  .form-item {
    margin-top: 7%;
    width: 100%;
  }
  
  .isCorrect{
    margin-top: 5%;
    float: right
  }

  .points{
    float: left
  }  